body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

h2 {
  color: #282c34;
}

button {
  background-color: #61dafb;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
  text-decoration: none;
}

button:hover {
  background-color: #21a1f1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input:focus {
  border-color: #61dafb;
  outline: none;
}


/* Home.js */
.passContainer {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 2em;
}
.passContainerBlue {
  display: flex;
  flex-direction: column;
  width: 350px;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border: 2px solid rgb(90, 98, 211);
  border-radius: 2em;
}
.passBox{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.passP {
  display: flex;
  padding: 10px;
  border: 2px solid white;
  border-radius: 1em;
  align-items: center;
  justify-content: center;
}
  .passP:hover{
    cursor: pointer;
    border: 2px solid #0b74b5;
  }
.passLabel{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5px;
}
.passLabelC{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.passLabelC:hover{
  text-decoration: underline;
}
.passRow1{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid white;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}
.passRow2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid white;
  padding: 10px 0;
}

.passRow3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10px; /* Dodałem odstęp między przyciskami */
}

.modifyButton, .deleteButton, .addButton{
  padding: 10px 20px;
  border-radius: 1rem;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 90px;
  height: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.ADpassP{
    display: flex;
    padding: 10px;
    border: 2px solid white;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    width: 80px;
}
  .ADpassP:hover{
    cursor: pointer;
    border: 2px solid #0b74b5;
  }
.modifyButton {
  background-color: rgba(218, 187, 14, 0.8); /* Zielony kolor dla modyfikacji */
  color: white;
  border: 1px solid rgba(218, 187, 14, 1);
}

.modifyButton:hover {
  background-color: #45a049; /* Trochę ciemniejszy zielony przy najechaniu */
}

.deleteButton {
  background-color: #f44336; /* Czerwony kolor dla usunięcia */
  color: white;
  border: 1px solid #f44336;
}

.deleteButton:hover {
  background-color: #d32f2f; /* Trochę ciemniejszy czerwony przy najechaniu */
}
.addButton {
  background-color: rgba(103, 110, 216, 0.8); /* Zielony kolor dla modyfikacji */
  color: white;
  border: 2px solid rgb(52, 157, 189);
}
.addButton:hover {
  background-color: rgba(109, 115, 192, 0.8); /* Trochę ciemniejszy czerwony przy najechaniu */
  border: 5px solid rgb(255, 255, 255);
}
.errorNoPass{
  padding: 15px;
}